.background{
  background-color: black;
}

.abtAndJpicCon{
  background-color: black;
  max-width: 100%;
  
}


.aboutme{
  margin-top: 30%;
  font-size:20px;
  color:white;
  margin-left: 10%;
}


.jesusPic{
  width: 50%;
  margin-top: 20%;
  margin-left:20%;
  border-radius: 2%;
  margin-bottom: 10%;
}
.featuredCard{
  color: white;
  text-align: center;
  
}

.featuredContainer{
  background-color: black;
  max-width: 100%;
}
.featureProject{
width:100%;
margin-left:50%;

margin-bottom:10%;
}

.otherProjectsContainer{
  background-color: black;
  
}
.d-block{
  margin-left:25%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.carouselDescription{
  color:black;
  background-color: rgb(211,211,211);opacity:0.6;;
  width: 50%;
  margin-left: 25%;
}

.carouselParagraph{
  color:black;
  background-color: rgb(211,211,211);opacity:0.5;
  border-radius: 5%;
  margin-top: 220px;
}
.bg-light{
  width: 23%;
}
.resume{
  
}

.resumeCard{
  margin-left:20%;
  margin-top: 100px;
  margin-bottom: 20px;;
}
.contactCard{
  margin-left:20%;
  margin-top: 100px;
}
.row{
  
}

.container{
  max-width: 100%;
  background-color: black;
}
.footerPics{
width:50px;
}
.bottomLink{
  margin-left: 40%;
}