.App {
  text-align: center;
}


.abtAndJpicCon{
  background-color: black;
  max-width: 100%;
  
}


.aboutme{
  margin-top: 30%;
  font-size:20px;
  color:white;
  margin-left: 10%;
}


.jesusPic{
  width: 75%;
  margin-top: 20%;
  margin-left:20%;
  border-radius: 2%;
  margin-bottom: 10%;
}
.featuredCard{
  color: white;
  text-align: center;
}